.taskList {
  border: 1px solid rgb(20, 241, 149);
  & .taskList-heading {
    display: flex;
    align-items: center;
    & p {
      font-size: 16px;
      padding: 8px;

      &:nth-child(1) {
        text-align: center;
        width: 60px;
        border-right: 1px solid rgb(20, 241, 149);
        border-bottom: 1px solid rgb(20, 241, 149);
      }
      &:nth-child(2) {
        text-align: center;
        width: 300px;
        border-right: 1px solid rgb(20, 241, 149);
        border-bottom: 1px solid rgb(20, 241, 149);
      }
      &:nth-child(3) {
        text-align: center;
        width: 150px;
        border-right: 1px solid rgb(20, 241, 149);
        border-bottom: 1px solid rgb(20, 241, 149);
      }
      &:nth-child(4) {
        text-align: center;
        width: 150px;
        border-bottom: 1px solid rgb(20, 241, 149);
      }
    }

  }
  & .taskList-slice {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(20, 241, 149);
    & p {
      font-size: 16px;
      padding: 8px;

      &:nth-child(1) {
        text-align: center;
        width: 60px;

      }
      &:nth-child(2) {
        text-align: center;
        width: 300px;
        border-right: 1px solid rgb(20, 241, 149);
        border-left: 1px solid rgb(20, 241, 149);
        & input {
          width: 90%;
          font-size: 16px;
          padding: 8px;
          border: 1px solid rgb(71, 70, 70);
          border-radius: 4px;
        }
      }
      &:nth-child(3) {
        text-align: center;
        width: 150px;
        border-right: 1px solid rgb(20, 241, 149);

        &  select {
          font-size: 16px;
          padding: 8px;
          outline: none;
          border-radius: 4px;
        }
      }
      &:nth-child(4) {
        text-align: center;
        width: 150px;

      }
    }
  }
  & .taskList-body {
    display: flex;
    & p {
      font-size: 16px;
      padding: 8px;

      &:nth-child(1) {
        text-align: center;
        width: 60px;
        border-right: 1px solid rgb(20, 241, 149);
      }
      &:nth-child(2) {
        text-align: center;
        width: 300px;
        border-right: 1px solid rgb(20, 241, 149);
      }
      &:nth-child(3) {
        text-align: center;
        width: 150px;
        border-right: 1px solid rgb(20, 241, 149);
        & .btn-active {
          background: red;
          font-size: 16px;
          padding: 4px;
          border-radius: 4px;
          outline: none;
          border: none;
          cursor: pointer;
        }
        & .btn-hide {
          background: lightgreen;
          font-size: 16px;
          padding: 4px;
          border-radius: 4px;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
      &:nth-child(4) {
        display: flex;
        justify-content: center;
        width: 150px;
        & .btn-change {
          margin-right: 10px;
          background: orange;
          font-size: 16px;
          padding: 4px;
          border-radius: 4px;
          outline: none;
          border: none;
          cursor: pointer;
        }
        & .btn-delete {
          margin-right: 10px;
          background: red;
          font-size: 16px;
          padding: 4px;
          border-radius: 4px;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    }

  }

}