.color-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-left: 10px;

  cursor: pointer;
  transition:  all 0.3s ease-in-out 0s;

  text-align: center;
  color: white;
}